@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.mainContainer {
  margin: 0px;
}

.moviesul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.movieli {
  margin: 5px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.searchContainer {
  display: flex;
  flex-direction: row;
  background-color: black;
  font-family: Roboto, Helvetica, Arial, sans-serif;

  padding: 11px;
}

.searchBar {
  padding-left: 0.5rem;
  border-radius: 0.25rem;
  height: 1.8rem;
  width: 50%;
  font-weight: 500;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
}

.yellowBox {
  background-color: rgb(245, 197, 24);
  color: black;

  font-weight: bold;

  border-radius: 5px;
  margin-left: 3.5rem;
  margin-right: 0.35rem;
  height: 32px;
  width: 64px;
  max-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellowBox img {
  width: 100%;
  max-width: 62px;
}

.sortContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-size: 14px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.mTitle {
  font-size: 48px;
  margin-top: 0.5rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.sortLabel {
  font-size: 16px;
  margin-left: auto;
  margin-right: 1rem;
}

.sortOption {
  font-size: 16px;
  border: none;
  color: #0e63be;
  padding: 5px 10px;
  border-radius: 5px;
}

.sortOption:hover {
  cursor: pointer;
  background-color: #ecf3fa;
}

.subContainer {
  margin: 4rem;
  margin-top: 2rem;
}

.sortTitle {
  font-size: 32px;
  font-weight: 600;
  display: flex;
}

.dropdown {
  position: absolute;
  background-color: #1f1f1f;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
  width: 50%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 130px;
  margin-top: 2.5rem;
}

.suggestionItem {
  color: white;
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.suggestionItem:hover {
  background-color: #313131;
}

.link {
  text-decoration: none;
}

.suggestionImg {
  width: 100%;
  max-width: 3rem;
  max-height: 4rem;
}

.suggestionInfo {
  padding-left: 1rem;
}

.suggestionYear {
  color: #ffffffb3;
  font-size: 14px;
  margin-top: 0px;
}

.suggestionTitle {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.yellowStick {
  background-color: #f5c518;
  height: 40px;
  width: 4px;
  display: inline-block;
  margin-right: 0.5rem;
  border-radius: 2px;
}

.loader {
  margin-left: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #f5c518 #0000;
  animation: s1 1s infinite;
}
@keyframes s1 {
  to {
    transform: rotate(0.5turn);
  }
}

@media (max-width: 768px) {
  .subContainer {
    margin: 0rem;

    margin-top: 2rem;
  }

  .dropdown {
    width: 100%;
    margin-left: 0px;
  }

  .sortContainer {
    margin-left: 1rem;
  }

  .mTitle {
    margin-left: 1rem;
  }
}
