.food {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin: 30px;
}

.multiSelect {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 80%;
}

.multiSelect select {
  color: #6a93a7;
  border: 1px solid #dfdfdf;
  width: 80%;
  padding: 10px;
}

.selectedItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.selectedItemsList {
  color: #5d8ea4;
}

.submitButton {
  background-color: #5d8ea4;
  color: #ffffff;
  border: 1px solid #5d8ea4;
  border-radius: 10%;
  font-size: 14px;
  font-family: Arial;
  font-style: normal;
  width: 110px;
  height: 40px;
  padding: 10px 30px;
  size: 10px 30px;
  font-weight: 400;
  box-shadow: 0px 0px 0px 0px #ffffff;
  text-shadow: 0px 0px 0px #ffffff;
}

.submitButton:hover {
  background-color: #ffffff;
  color: #5d8ea4;
  border: 1px solid #5d8ea4;
}
.line {
  border-bottom: 1px solid #5d8ea4;
  width: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.line2 {
  color: #dfdfdf;
  margin-left: 5px;
  margin-right: 5px;
}

.itemListLabel {
  color: #5d8ea4;
  font-weight: 700;
}

.totalPrice {
  color: #5d8ea4;
}
