@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.modal {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieItemContainer {
  border-radius: 5px;
  padding: 1rem;
  height: 20rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #1F1F1F;
}

.movieItemContainer2 {
 
  padding: 1rem;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background: #1F1F1F;
}

.movieImg {
  width: 81px;
  height: 120px;
}

.movieDetails {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.movieTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
}

.release_date {
  font-size: 14px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  color: #FFFFFFB3;
}

.vote_average {
  font-size: 14px;
  margin: 0px;
  font-weight: 300;
  color: white;
  color: #FFFFFFB3;
}

.moreInfoButtonContainer {
  margin-left: auto; /* This pushes the button to the right side of the container */
}

.moreInfoButton {
  background-color: #fff;
  color: #0e63be;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 28px;
  border-radius: 5px;
}

/* New styles for the overview paragraph */
.overview {
  margin-top: 1rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #FFFFFFFF;
}


.maincontainer{
  background: rgb(31,31,31);
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;

  

  margin: 20px;
  height: calc(100vh - 40px); /* Make the container take the whole screen with 20px padding on each side */
}

.back {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  align-self: flex-end;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  align-self: flex-start;
}

.pictures {
 
  font-size: 24px;
  
  align-self: flex-start;
}

.category {
  margin-top: 20px;
  align-self: flex-start;
}

.plot {
  margin-top: 20px;
  align-self: flex-start;
  
}

.cast {
  margin-top: 20px;
  align-self: flex-start; 
}



