.cell {
  padding: 10px;
  box-sizing: border-box;
}

.moreInfoButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.moreInfoButton:hover {
  background-color: darkblue;
}
