.item h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.calories {
  border-radius: 30px;
  padding: 0.15rem 1.5rem;
  background-color: white;
  color: #006241;
  font-size: 1.5rem;
}

.item p {
  color: #3a3a3a;
}

.actions {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

.icon {
  width: 60px;
    height: 60px;
}