
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
.date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }

   .info {
    margin-bottom: 20px;
  }

  .semi-bold {
    font-weight: 500;
    font-size: 16px;
  }
  