@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


.mainContainer{
  margin: 0px;
  }


.moviesul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.movieli {
  margin: 5px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.searchContainer {
  background-color: black;
  padding: 11px; /* Add padding for better visibility */
}

.searchBar {
  border-radius: 0.25rem;
  height: 1.8rem;
  width: 18rem;
  font-weight: 900;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}




body{
  margin: 0px;
  }


  .yellowBox {
    background-color: rgb(245,197,24);
    color: black;
    
    font-weight: bold;
    
    padding: 8px;
    border-radius: 0.25rem;
    margin-left: 3.5rem;
    margin-right: 0.35rem;
    
  }
