@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


.mainContainer{
  margin: 0px;
  }


.moviesul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.movieli {
  margin: 5px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.searchContainer {
  background-color: black;
  padding: 11px; /* Add padding for better visibility */
}

.searchBar {
  border-radius: 0.25rem;
  height: 1.8rem;
  width: 18rem;
  font-weight: 700;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}




body{
  margin: 0px;
  }


  .yellowBox {
    background-color: rgb(245,197,24);
    color: black;
    
    font-weight: bold;
    
    padding: 8px;
    border-radius: 0.25rem;
    margin-left: 3.5rem;
    margin-right: 0.35rem;
    
  }


  .sortContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-size: 14px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
  }

  .mTitle {
    font-size: 36px;
    margin-top: 6rem;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
  }

  .sortLabel{
    margin-right: 1.5rem;
  }


  .subContainer{
    margin: 1.5rem;
  }


    
  
  .dropdown {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;
    width: 18rem;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .suggestionItem {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .suggestionItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  