.food {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.multiSelect {
  margin-bottom: 20px;
}

.selectedItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}


button {
  background-color: #6491a6;
  color: #FFFFFF;

  border-radius: 50;
  
  
}