.tabContainer {
  margin-bottom: 10px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tab {
  margin: 5px;
  padding: 5px;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: #eeeeee;
  color: #0f0f0f;
  border: 1px solid #0f0f0f;
}

.tab.active {
  background-color: #0f0f0f;
  color: #ffffff;
}
